                                              /* Header */
*{
    margin: 0px;
    padding: 0px;
}
.wrapper{
    width: auto;
    height: auto;
    
}
.nav_bar{
    padding: 0% 10%;
    margin: auto;
    height: 70px;
    width: 100%;
    background-color: rgb(255, 255, 255); 
    align-items: center;
    display: flex;
    box-shadow: 0px -103px 100px 60px rgba(125,125,125,1);
    position: fixed;
    z-index: 10;
}
.logo{
    width: 10%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color: gray; */

}
.logo a img{
    width: 70px;
    float: right;
}
.search_bar{
    width: 74%;
    height: 60px;
    display: flex;
    /* background-color: rgb(112, 38, 38); */

}

.search_bar input{
    height: 60px;
    width: 80%;
    border: none;
    outline: none;
    font-size: large;
    padding: 0px 20px;

}
.search_bar .sbtn{
    height: 60px;
    width: 20%;
    border: none;
    display: flex;
    align-items: center;    
    justify-content: center;
}
.signup{
    width: 8%;
    height: 60px;
    /* background-color: rgb(84, 141, 194); */
    display: flex;
    align-items: center;
    justify-content: center;

}
.cart{
    width: 8%;
    height: 60px;
    /* background-color: rgb(145, 146, 62); */
    display: flex;
    align-items: center;
    justify-content: center;

}
.options{
    width: 8%;
    height: 60px;
    /* background-color: rgb(32, 141, 108); */
    display: flex;
    align-items: center;

}
#search_icon{
    font-size: 28px;
}
#login_icon{
    font-size: 30px;
    margin-right: 10px;
}
#cart_icon{
    font-size: 28px;
}#options_icon{
    font-size: 36px;
}


/* HEADER CSS END  */

.section-content{
    margin-top: 10px;
}
.section-content a{
    text-decoration: none;


}



.card-product-grid{
    padding: 24px;
}
.btn-block{
    width: 100%;
    margin-top: 10px;
}
.form-row{
    display: flex;
}
.form-row .form-control{
    width: 80%;
}
.card-body ul{
    padding-left: 1rem;
    list-style: none;
}
article hr{
    margin: 0px;
}

                                        